.card {
  display: flex;
  flex-direction: row;
}

.full-width {
  box-sizing: border-box;
  width: 100%;
}

.product-image {
  width: 25%;
  margin-left: 10px;
  box-shadow: 0 1px 2px rgba(4, 5, 5, 0.25);
}

.product-info {
  display: flex;
  padding: 10px;
  box-shadow: 1px 2px rgba(4, 5, 5, 0.25);
  background-color: #fff;
}

.product-info .left-part {
  padding: 0 20px;
}

.product-info .right-part,
.product-info .left-part {
  font-size: 0.75rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding-top: 30px;
}

.product-info .right-part {
  align-items: center;
  border-left: 1px solid #ebe4e4;
}

.product-info .right-part .price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.product-info .right-part .price * {
  margin: 0 5px;
}

.product-info .right-part .price .percent {
  font-size: 0.85rem;
  line-height: 17px;
  color: #fff !important;
  margin: 0 3px;
  padding: 0 3px;
  border-radius: 3px;
  background-color: #fb1616;
}

.product-info .right-part .price .toman {
  color: #808080;
}

.product-info .right-part .price .new-price {
  font-size: 1.6rem;
}

.buy-options {
  height: 30px;
}

.buy-options button {
  padding: 0 20px;
}

.left-part p {
  line-height: 30px;
}

.left-part p span {
  color: #989898;
}
