.mobile-container {
  .category-select {
    .v-btn__content {
      justify-content: right;
    }

    .v-menu__content {
      background-color: #d81816;
      max-height: fit-content !important;
      min-width: 100% !important;
      left: 0 !important;
      top: 46px !important;
    }
  }
}
