.input-field {
  .v-text-field .v-label {
    left: auto !important;
    right: 5px !important;
  }

  .v-autocomplete:not(.v-input--is-disabled).v-select.v-text-field input {
    background-color: transparent;
  }

  .v-select.v-text-field--outlined:not(.v-text-field--single-line) .v-select__selections input {
    display: none;
  }

  .v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot label {
    right: 5px !important;
    left: auto !important;
  }

  .v-text-field__details .v-messages .v-messages__wrapper {
    text-align: right;
  }

  .v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot input {
    background-color: transparent;
  }

  .v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--enclosed.v-input--dense .v-select__selections input {
    display: none;
  }

  .v-text-field--filled .v-label--active {
    transform: translateY(-10px) scale(0.75);
  }

  .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot .v-select__slot label {
    left: auto !important;
    right: 5px !important;
  }

  .v-select.v-input--dense .v-chip {
    margin: 2px 4px;
  }
}

.page-content {
  font-size: 0.9rem;

  .v-list-item__content {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
    border-top: 0.5px solid rgba(0, 0, 0, 0.05);
    height: 55px;
  }

  .input-field {
    .v-label {
      font-size: 1rem;
    }

    .v-text-field--filled > .v-input__control > .v-input__slot {
      min-height: 30px;
    }
  }
}

.bold {
  font-weight: bold;
}

.v-application--is-ltr .v-text-field .v-label {
  transform-origin: top right !important;
}

.v-dialog .v-card .close-button-address-dialog {
  position: absolute;
  left: 10px;
  top: 10px;
}

.mobile-container .submit .v-btn .v-btn__content {
  color: #fff;
  font-size: 16px;
}
