
.product-data {
  display: flex;
  flex-direction: row;
}

.product-details {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 99%;
  margin-right: 1%;
  box-shadow: 0 1px 2px rgba(4, 5, 5, 0.25);
  background-color: #fff;
}

.product-details-col {
  width: 100%;
  padding-top: 30px;
}

.product-details-col button {
  background-color: #fff;
}

.v-rating {
  display: inline;
}

.product-details .first {
  text-align: center;
}

.product-details .middle {
  padding-right: 20px;
  border-right: 1px solid #ebe4e4;
  border-left: 1px solid #ebe4e4;
}

.product-details .last {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 2.5;
  padding: 25px 15px;
}

.price,
.buy-options {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 8px;
}

.product-details .price * {
  margin: auto 10px;
}

.product-details .name {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 18px;
}

.price .old-price {
  text-decoration: line-through;
}

.price .discount {
  color: #fff;
  padding: 0 3px;
  border-radius: 3px;
  background-color: #fb1616;
}

.price .new-price {
  font-size: 1.2rem;
}

.buy-options button {
  font-size: 0.8rem;
  line-height: 30px;
  color: #fff;
  margin-left: 5px;
  padding: 0 10px;
  box-shadow: 0 2px 3px rgba(4, 5, 5, 0.15);
  border-radius: 5px;
  background-color: #2bbb28;
}

.buy-options select {
  font-size: 0.8rem;
  font-weight: normal;
  text-align: center;
  height: 30px;
  user-select: none;
  border: 1px solid #222;
  border-radius: 5px;
  background-color: #fff;
  appearance: auto;
}

.buy-options select:focus {
  outline: none;
}

.tab-content h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
}

.tab-content p {
  font-size: 0.9rem;
  font-weight: normal;
}

.product-details .middle p {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-details .middle p span {
  color: #989898;
}

.product-details .share {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 42px;
  box-shadow: 0 1px 2px rgba(4, 5, 5, 0.25);
  background-color: #f8f8f8;
}

.related-books {
  font-size: 0.85rem;
  font-weight: bold;
  text-align: right;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.related-book {
  font-size: 0.65rem;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}

.related-book a {
  color: #000;
  width: 85%;
  margin: auto 5px;
}

.add-to-cart {
  line-height: 23px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(43, 187, 40);
}

.last ul {
  list-style: none;
}

.last ul li {
  font-size: 0.75rem;
  font-weight: normal;
  color: #989898;
}

.last ul li::before {
  font-weight: bold;
  color: #2bbb28;
  margin-left: 10px;
  content: '\2714' !important;
}

.v-tabs {
  border: 1px solid #f1eeee;
  border-bottom: 2px solid #f6f4f4;
}

.product .tabs .v-item-group .v-slide-group__wrapper .v-tabs-bar__content .v-tab {
  font-size: 1.05rem;
  font-weight: bold;
  color: #000;
}

.product .tabs .v-item-group .v-slide-group__wrapper .v-tabs-bar__content .v-tab:hover {
  color: #2bbb28;
}

.product .theme--light.v-tabs .v-tab::before,
.product .theme--light.v-tabs .v-tab:hover::before {
  opacity: 0;
}

.tab-content {
  overflow: hidden;
  height: auto;
  min-height: 100px;
  padding: 0 30px;
  box-shadow: rgba(4, 5, 5, 0.15) 0 1px 2px;
  border: 1px solid #f1eeee;
  background-color: #fff;
}

.bold {
  font-weight: bold;
}

.product .tab-content .tall-line {
  margin: 10px 0;
}

.red-font {
  color: #f00;
}

.green-font {
  color: #0c3;
}

.dark-green-font {
  color: #1e971b;
}

.tab-content div {
  line-height: 30px;
}

.product .tab-content div p {
  margin-bottom: 10px;
}

.practice ol {
  margin: 15px;
}

.mobile-container .buy-options-and-price .quantity .v-input__control .v-input__slot .v-select__slot .v-select__selections input {
  display: none;
}

.mobile-container .buy-options-and-price .quantity .v-input__control .v-input__slot fieldset {
  border: 0;
}

.mobile-container .buy-options-and-price .quantity .v-input__control .v-text-field__details {
  display: none;
}

.mobile-container .buy-options-and-price .quantity .v-text-field.v-text-field--enclosed:not( .v-text-field--rounded ) > .v-input__control > .v-input__slot {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  padding: 0 5px;
}

.mobile-container .buy-options-and-price .quantity .v-input__control .v-input__slot .v-select__slot .v-select__selections .v-select__selection {
  color: #fff;
}

.mobile-container .buy-options-and-price .quantity .v-input__control .v-input__slot .v-select__slot .mdi-menu-down::before {
  color: #fff;
}

.mobile-container .v-tabs .v-slide-group__prev,
.mobile-container .v-tabs .v-slide-group__next {
  display: none !important;
}

@media only screen and ( max-width: 1260px ) {
  .product {
    width: 950px;
  }
}

@media only screen and ( max-width: 960px ) {
  .product {
    width: 650px;
  }

  .product-data {
    flex-direction: column;
  }

  .product-data .v-image {
    width: 200px !important;
    height: auto !important;
    margin: auto auto 10px;
  }

  .product-data .first {
    padding: 25px 10px;
  }
}

@media only screen and ( max-width: 600px ) {
  .product {
    width: 90%;
  }

  .product-data .product-details {
    flex-direction: column;
  }

  .product-details .share {
    bottom: -42px;
  }
}
