.edit-delete-btns {
  float: right;
}

.the-card-search{
  float: right;
  width: 80%;
}

.data-table-width {
  width: 100%;
}

.form-elements-column-width {
  width: fit-content;
}

.form-elements-size {
  font-size: small;
  width: 250px;
}

.dialog-width {
  width: fit-content;
}

.output-btns-width {
  float: left;
  width: 15%;
  margin-top: 19px;
  margin-right: 2px;
}
