.edit-delete-btns {
  float: right;
}

.the-card-search {
  width: 50px;
}

.data-table-width {
  width: 100%;
}

.form-elements-column-width {
  width: fit-content;
}

.form-elements-size {
  font-size: small;
  width: 260px;
}

.dialog-width {
  width: fit-content;
}

.output-btns-width {
  width: 15%;
}
