.filter-elements {
  float: right;
  width: 100%;
  height: 20px;
}

.switches-position {
  float: left;
  height: 20px;
}

.p-tag-size {
  font-size: 14px;
  width: 80px;
}

.filter-btn {
  width: 100%;
  background-color: #00bfa5;
}

.v-text-field--filled,
.v-text-field--full-width,
.v-text-field--outlined {
  .the-row {
    min-height: 30px !important;
  }
}

.v-text-field >>> input {
  font-size: 14px;
  font-weight: 100;
  text-transform: capitalize;
}

.v-text-field >>> label {
  font-size: 14px;
}
