$background-color: #f8f8f8;

main,
.footer {
  background: $background-color;
}

.article-post-content p {
  text-align: justify;
  margin: 10px 0 !important;
}

.article-post-content {
  line-height: 30px;
  padding: 20px 30px 30px;
}

.logo .logo-image {
  display: block;
  width: 130px;
  margin: 10px auto;
}

.logo-info-1 {
  font-size: 0.7rem;
  line-height: 17px;
  color: #8e8e8e;
  text-align: center;
  display: block;
  margin: 0 8px;
  border-top: 1px solid #c3c3c3;
}

.logo-info-2 {
  font-size: 0.85rem;
  line-height: 17px;
  color: #8e8e8e;
  text-align: center;
  display: block;
  margin: 0 8px;
  border-bottom: 1px solid #c3c3c3;
}

.logo {
  text-decoration: none !important;
  width: 100%;
  padding: 0 20px;
}

.pwa-drawer {
  max-height: 100% !important;
}

a {
  text-decoration: none;
}

.mobile-drawer {
  opacity: 0.9;
}

.v-navigation-drawer--bottom.v-navigation-drawer--is-mobile {
  min-height: 100%;
}

.right-drawer-close-button {
  position: absolute !important;
  z-index: 2000;
  top: 5px;
  left: 5px;
}

.right-drawer a {
  color: #000;
}

.right-drawer-header {
  font-weight: bold;
  height: 50px;
}

header.theme--light.v-app-bar.v-toolbar.v-sheet {
  background: transparent;
}

@media only screen and ( max-width: 1264px ) {
  :root {
    font-size: 15px;
  }
}

@media only screen and ( max-width: 960px ) {
  :root {
    font-size: 12px;
  }
}

@media screen and ( max-width: 768px ) {
  :root {
    font-size: 10px;
  }
}

@media screen and ( max-width: 600px ) {
  :root {
    font-size: 14px;
  }
}

@media only screen and ( max-width: 400px ) {
  :root {
    font-size: 12px;
  }
}
