$background-color: #f8f8f8;

main,
.footer {
  background: $background-color;
}

.article-post-content p {
  margin: 10px 0 !important;
  text-align: justify;
}

.article-post-content {
  line-height: 30px;
  padding: 20px 30px 30px;
}

.logo .logo-image {
  display: block;
  margin: 10px auto;
  width: 130px;
}

.logo-info-1 {
  border-top: 1px solid #c3c3c3;
  color: #8e8e8e;
  display: block;
  font-size: 0.7rem;
  line-height: 17px;
  margin: 0 8px;
  text-align: center;
}

.logo-info-2 {
  border-bottom: 1px solid #c3c3c3;
  color: #8e8e8e;
  display: block;
  font-size: 0.85rem;
  line-height: 17px;
  margin: 0 8px;
  text-align: center;
}

.logo {
  padding: 0 20px;
  text-decoration: none !important;
  width: 100%;
}

.pwa-drawer {
  max-height: 100% !important;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 1264px) {
  :root {
    font-size: 15px;
  }
}

@media only screen and (max-width: 960px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  :root {
    font-size: 12px;
  }
}
