.theme--light.v-app-bar.v-toolbar.v-sheet {
  background-color: transparent;
}

.theme--light.v-btn:not( .v-btn--flat ):not( .v-btn--text ):not( .v-btn--outlined ) {
  background-color: transparent;
}

header .fixedMenu {
  display: block;
}

header .scrolledMenu {
  display: none;
}

header {
  box-shadow: none !important;
  background-color: #f8f8f8;
}

header.v-app-bar--is-scrolled {
  box-shadow: 1px 3px 7px rgba(103, 82, 57, 0.1) !important;
  background-color: #fff !important;
}

header.v-app-bar--is-scrolled .fixedMenu {
  display: none;
}

header.v-app-bar--is-scrolled .scrolledMenu {
  display: flex;
}

header.v-app-bar--is-scrolled .scrolledMenu .leftSide {
  display: flex;
}

header.v-app-bar--is-scrolled .scrolledMenu .scrolledMenuLinks {
  display: flex;
  flex: 1;
}

header.v-app-bar--is-scrolled .scrolledMenu .scrolledMenuLinks button {
  margin: auto 5px;
}

.scrolledMenu .leftSide .leftSide-btn {
  text-align: center;
  text-decoration: none !important;
  position: relative;
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 12px;
  border-radius: 3px;
}

.top-menu {
  padding-top: 0;
}

.search-button {
  background-color: #33b130;
}

.cart-logo {
  background-color: #fb1616;
}

.account-logo {
  background-color: #50cbb2;
}

.leftSide-btn-arrow {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

.leftSide-btn-arrow::before {
  position: absolute;
  right: 50%;
  bottom: -8px;
  width: 0;
  height: 0;
  margin-right: -4px;
  content: ' ';
  border: 4px solid transparent;
  border-top: 4px solid;
}

.account-logo::before {
  border-top-color: #50cbb2;
}

.cart-logo::before {
  border-top-color: #fb1616;
}

.fixed-search-input {
  font-size: 12px;
  color: #252525;
  min-width: 200px;
  height: 25px;
  padding-right: 15px;
  border: 0;
  border-radius: 7px;
  background-color: #ececec;
}

.consulting-mega-menu-bg {
  position: absolute;
  top: -10%;
  right: 0;
  width: 97%;
  height: 250%;
  border-top-left-radius: 50%;
  background-color: #fff;
}

.mobile-appbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: inherit;
  border-bottom: 1px solid #2bbb28;
}

.mobile-appbar-item {
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.full-height {
  height: 100%;
}

.mobile-header a {
  color: #000;
}

.cart-scrolled-menu {
  position: relative;
}

.cart-scrolled-menu .cart-details {
  top: 45px;
  left: 0;
  width: 340px;
  min-height: 55px;
  padding: 17px;
}

.cart-scrolled-menu:hover .cart-details {
  visibility: visible;
  opacity: 1;
}

@media only screen and ( max-width: 1264px ) {
  .navbar-container {
    width: 950px;
  }

  .nav-item {
    margin: auto 0;
  }

  .top-menu .menu .top-menu-col {
    max-width: 950px;
  }

  .menu-nav {
    padding: 10px 0;
  }

  .searchbar-container input {
    width: 400px;
  }
}
@media only screen and ( max-width: 959.5px ) {
  .navbar-container {
    width: 600px;
  }

  .top-menu .menu .top-menu-col {
    max-width: 600px;
  }

  header .fixedMenu {
    display: none;
  }

  .mobile-appbar-item {
    font-size: 1rem;
  }
}
@media only screen and ( max-width: 768px ) {
  .mobile-appbar-item {
    font-size: 1.2rem;
  }
}
@media only screen and ( max-width: 600px ) {
  .mobile-appbar-item {
    font-size: 0.9rem;
  }
}

