.v-application p {
  margin: 0;
}

.mobile-header .v-toolbar__content {
  padding: 0 !important;
}

header:not(.v-app-bar--is-scrolled) .v-toolbar__content {
  padding: 0;
}

.full-container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.top-bar {
  background-color: #2bbb28;
  height: 40px;
  padding-right: 0;
  z-index: 1;
}

.menu-options-container .nav {
  padding-top: 15px;
  position: relative;
}

.nav-item {
  color: #f8f8f8;
  float: right;
  font-size: 12pt;
  padding: 0;
  transition: all 0.3s ease;
}

a,
mark {
  background-color: transparent;
}

a ::after {
  box-sizing: inherit;
}

.home-page {
  font-size: 1rem;
  margin-top: -4px;
}

.nav p {
  color: #f8f8f8;
  font-family: inherit;
  padding: 8px 0;
}

.phone-number,
.white-font {
  color: #fff;
  padding: 8px 0;
}

.black-font {
  color: #292b2c;
  padding: 0;
}

.favorites {
  background-color: #f8f8f8;
  border-top-right-radius: 20px;
  font-size: 0.8rem;
  height: 36px;
  margin-top: 4px;
  position: relative;
  text-align: center;
}

.contact-us {
  align-items: center;
  border-bottom-left-radius: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 0 0 0 10px;
  position: relative;
}

.navbar-bg {
  background-color: #fff;
  height: 36px;
  width: 100px;
}

.navbar-container {
  background-color: #2bbb28;
  height: 40px;
  padding: 0;
  z-index: 1;
}

.menu {
  background-color: inherit;
}

.menu-options-container {
  height: 77px;
  margin: 0;
  padding-right: 5px;
}

.searchbar-container {
  height: 32px;

  input {
    background-color: #fff;
    border: 0;
    border-left: 1px solid #ececec;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    font-size: 0.8rem;
    font-weight: 400;
    margin-right: 20px;
    padding: 0 6px;
    width: 90%;
  }

  .search-button {
    align-items: center;
    background-color: #fff;
    border: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    padding: 1px 6px;
    width: 32px;
  }
}

header a {
  text-decoration: none;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  height: 120px;

  .right-bar {
    width: calc(100% - 470px);
  }

  .left-bar {
    display: flex;
    flex-direction: row;
    width: 480px;
  }
}

.menu-nav {
  align-items: center;
  color: #000 !important;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: space-between;
  margin: 0 10px;
  padding: 10px;
}

.user-cart {
  align-items: center;
  border: 2px solid transparent;
  border-bottom-color: #fb1616;
  color: #fb1616;
  display: flex;
  flex-direction: column;
  height: 83px;
  justify-content: center;
  margin-left: 5px;
  margin-top: 26px;
  position: relative;
  text-decoration: none !important;
  width: 120px;

  .cart-details {
    min-height: 55px;
    padding: 17px;
    right: 0;
    width: 340px;

    p {
      color: #000;
      font-size: 0.9rem;
    }
  }
}

.cart-scrolled-menu .cart-details p {
  color: #000;
  font-size: 0.9rem;
}

.cart-description,
.account-description {
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 15px 0;
  position: relative;
  text-decoration: none !important;
}

.cart-description {
  color: #fb1616;
}

.account-description {
  color: #50cbb2;
}

.user-cart a,
.account-management a {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav .nav-item .nav-link {
  border-radius: 2px;
  transition: all 0.3s ease;
}

.navigation-bar .nav-item .nav-link {
  color: #f8f8f8;
  display: flex;
  font-size: 0.8rem;
  padding-left: 3px;
  padding-right: 0;
}

.navigation-bar .nav-item .nav-link:hover {
  color: #f8f8f8;
  text-decoration: none;
}

.menu-options-container .nav .nav-item .nav-link:hover {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #000;
}

.navigation-bar .nav-item .nav-link::after {
  content: '|';
  cursor: default;
  font-size: 7pt;
  margin: 0 8px;
  opacity: 0.5;
  padding-right: 5px;
  padding-top: 3px;
}

.nav.navigation-bar .nav-item:last-child a::after {
  display: none;
}

.navigation-bar .nav-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 5px;
}

.nav .nav-item .menu-nav {
  margin-right: 0;
}

.top-menu .menu .col {
  padding: 0 12px 0 0;
}

.header-bg {
  height: 36px;
  left: -10%;
  margin-top: 4px;
  position: absolute;
  top: 0;
  width: 20%;
  z-index: 1;
}

.header-bg-white {
  background-color: #f8f8f8;
  border-top-right-radius: 20px;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 1;
}

.header-bg-green {
  background-color: #2bbb28;
  border-bottom-left-radius: 20px;
  bottom: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  width: 50%;
  z-index: 3;
}

.header-bg-white-horizontal {
  background-color: #f8f8f8;
  bottom: 0;
  height: 50%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.header-fluid-bg {
  background-color: #f8f8f8;
  height: 36px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 100%;
  top: 0;
  width: 500px;
  z-index: 2;
}

.consulting-mega-menu {
  background-color: #f4f1ec;
  box-shadow: 0 3px 7px rgba(103, 82, 57, 0.1);
  font-size: 0.8rem;
  font-weight: 400;
  height: 340px;
  left: 0;
  margin: 0 5px 5px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: all 0.3s ease;
  visibility: hidden;
  width: 731px;
  z-index: 2500;

  .option-selection {
    align-items: center;
    border-left: 1px solid #e2dcd3;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-evenly;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 166px;
  }

  .option-selection .option {
    align-items: center;
    background: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    height: 28px;
    justify-content: center;
    margin: 5px 0;
    padding: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 125px;
  }

  .option-selection .option p {
    color: #000;
    display: flex;
    margin-bottom: 0;
  }

  .option-selection .option:hover {
    background-color: #2bbb28;
  }

  .megaMenuIMG {
    bottom: 0;
    display: block;
    left: 60px;
    margin: auto;
    position: absolute;
    top: 0;
  }

  .offline-consulting-menu {
    display: flex;
    flex-direction: column;
    height: 330px;
    justify-content: right;
    padding: 20px;
    position: absolute;
    right: 166px;
    top: 0;
    width: 250px;
  }
}

.scrolledMenu .consulting-mega-menu {
  width: 816px;
}

.consulting:hover .consulting-mega-menu {
  margin-top: 5px;
  opacity: 1;
  visibility: visible;
}

.fixed-nav-options {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .search-button {
    align-items: center;
    background-color: #33b130;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 64%;
    justify-content: center;
    width: 30px;
  }

  a:hover {
    text-decoration: none !important;
  }
}

.account-management {
  align-items: center;
  border: 2px solid transparent;
  border-bottom-color: #50cbb2;
  color: #50cbb2;
  display: flex;
  flex-direction: column;
  height: 83px;
  justify-content: center;
  margin-right: 5px;
  margin-top: 26px;
  position: relative;
  text-decoration: none !important;
  width: 120px;

  .account-options {
    align-items: stretch;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 166px;
    justify-content: stretch;
    left: 0;
    text-align: right;
    width: 175px;

    a {
      align-items: center;
      color: #000 !important;
      display: flex;
      flex-direction: row;
      font-size: 0.95rem;
      height: 100%;
      justify-content: flex-start;
      margin: 0;
      padding: 0 15px;
      transition: all 200ms ease-in-out;
      width: 100%;
    }

    a:hover {
      background-color: #50cbb2;
      color: #fff !important;
      text-decoration: none;
    }

    .first-option {
      border-bottom: 1px solid #f4f4f4;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .middle-option {
      border-bottom: 1px solid #f4f4f4;
    }

    .last-option {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.user-button {
  display: flex;
  flex-direction: row;
  height: 120px;
  justify-content: space-between;
  padding: 0 20px;
  width: 285px;

  .account-management:hover a {
    color: #50cbb2;
    text-decoration: none;
  }

  .user-cart:hover a {
    color: #fb1616;
    text-decoration: none;
  }
}

.consulting-menu-sub-option {
  color: #000 !important;
  direction: rtl;
  display: flex;
  float: right;
  margin: 7px 0;
  padding: 0 10px;
}

.consulting-menu-sub-option:hover {
  color: #ff3737 !important;
  text-decoration: none;
}

.user-button-details,
.cart-scrolled-menu .cart-details {
  align-items: center;
  background-color: #fff !important;
  box-shadow: 0 3px 7px rgba(103, 82, 57, 0.1) !important;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 85%;
  transform: translateY(-15px) !important;
  transform: translateY(-15px) !important;
  transition: all 400ms ease-in-out !important;
  visibility: hidden;
  z-index: 2400;
}

.user-cart:hover .user-button-details {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.account-management:hover .account-options {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-bar-options {
  color: #fff;
  font-size: 0.8rem;
  margin: auto 0 auto 5%;
  transition: all 0.3s ease;
}

.nav-bar-options:hover {
  color: #156a14;
}

.instagram,
.telegram {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.instagram:hover,
.telegram:hover {
  text-decoration: none;
}

.fixed-navbar {
  background-color: #fff;
  box-shadow: 1px 3px 7px rgba(103, 82, 57, 0.1);
  display: flex;
  height: 41px;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 2600;

  .fixed-navbar-content {
    height: 41px;
    padding: 0;

    .row .nav-menu a {
      margin: auto 0;
      padding-right: 20px;
      text-align: center;
    }

    .row .nav-menu {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 0;

      a:hover {
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        color: #000;
        text-decoration: none;
      }
    }
  }
}
