.filter-btn {
  background-color: #00bfa5;
  width: 100%;
}

.form-elements-size {
  float: right;
  height: 20px;
  width: 100%;
}

.switches-position {
  float: left;
  height: 20px;
}

.p-tag-size {
  font-size: 14px;
  width: 120px;
}

.v-text-field--filled > .v-input__control > .v-input__slot,
.v-text-field--full-width > .v-input__control > .v-input__slot,
.v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 30px !important;
}

.v-text-field >>> input {
  font-size: 14px;
  font-weight: 100;
  text-transform: capitalize;
}

.v-text-field >>> label {
  font-size: 14px;
}
