.filter-elements {
  float: right;
  width: 100%;
  height: 20px;
}

.columns-display {
  display: flex;
}

.last-line-columns-display {
  display: flex;
  flex-wrap: wrap;
}

.main-card-height {
  height: fit-content;
}

.filter-btn {
  width: 100%;
  background-color: #00bfa5;
}

.p-tag-size {
  font-size: 14px;
  float: right;
  width: 300px;
}

.text-areas-size {
  font-size: 14px;
  float: right;
  width: 100%;
}

.switches-position {
  float: left;
  height: 20px;
}

.last-line-inputs {
  float: right;

}

.last-line-p-tags {
  float: right;
  width: 150px;
}


.v-text-field--filled,
.v-text-field--full-width,
.v-text-field--outlined {
  .filter-elements {
    min-height: 30px !important;
  }
}

.v-text-field >>> input {
  font-size: 14px;
  font-weight: 100;
  text-transform: capitalize;
}

.v-text-field >>> label {
  font-size: 14px;
}
