.form-elements-column-width {
  width: fit-content;
}

.the-card-search {
  width: 50px;
  margin-left: 120px;
}

.form-elements-size {
  font-size: small;
  width: 260px;
}

.dialog-width {
  width: fit-content;
}

.output-btns-width {
  width: 15%;
}
